:root {
  --color-goldenSnow: #fde6bd;
  --color-toiletGreen: #a1c5ab;
  --color-buttercupYellow: #f4dd51;
  --color-lippyRouge: #d11e48;
  --color-prunePurple: #632f53;
  --color-nebulaGrey: #3d3d3d;
}
