.root {
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 4vw;
  font-weight: 100;
  justify-content: center;
  min-height: 100vh;
  position: relative;
  text-align: center;

  @media (max-width: 500px) {
    font-size: 7vw;
  }
}

.noOverflow {
  height: 100vh;
  overflow: hidden;
}

.background {
  background-position: center;
  background-size: cover;
  bottom: 0;
  filter: brightness(0.6) grayscale(57%);
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}
