@import 'variables';

.root {
  background: var(--color-toiletGreen);
  color: var(--color-goldenSnow);
  justify-content: space-around;
  padding: 10vw;
}

.title {
  font-size: 5vw;
  margin-bottom: 5vw;

  @media (max-width: 500px) {
    font-size: 10vw;
  }
}

.date {
  font-size: 3vw;
  margin-bottom: 5vw;

  @media (max-width: 500px) {
    font-size: 6vw;
    margin-bottom: 7vw;
  }
}
