@import 'variables';

.root {
  background: var(--color-goldenSnow);
  color: var(--color-toiletGreen);
  padding: 5vw;
}

.title {
  font-size: 5vw;
  margin-bottom: 3vw;

  @media (max-width: 500px) {
    font-size: 10vw;
  }
}

.members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
