@import 'variables';

.root {

}

.logo {
  margin-top: 10vh;
  width: 90vw;
  z-index: 1;
}

.strapline {
  color: var(--color-goldenSnow);
  font-size: 5vw;
  font-weight: 100;
  margin: auto 0;
  text-shadow: 0 0 10px black;
  z-index: 1;

  @media (max-width: 500px) {
    font-size: 9vw;
    padding: 2vw;
  }
}

.social {
  margin: auto 0;
}
